.details {
  display: flex;
  align-items: center;
  gap: 1rem;
  background: #fd5294;
  background-repeat: no-repeat;
  background-size: cover;
  height: 25vh;
  padding: 2%;
  justify-content: space-around;
  color: white;
}

.details h2,
h3 {
  margin: 2% 0;
}

.detailsimage {
  width: 35%;
}

.details-info {
  display: flex;
  flex-direction: column;
}

.coin-det {
  height: 4rem;
  color: white;
  background: #ea508d;
  padding: 2%;
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.coin-det:nth-child(even) {
  background: #d1447a;
}

.coin-det h3:nth-child(2) {
  width: 55%;
  text-align: left;
}

@media only screen and (min-width: 768px) {
  .details {
    height: 40vh;
    justify-content: space-around;
  }

  .detailsimage {
    width: 15%;
  }

  .coin-det {
    height: 5rem;
  }

  .det-name-price h2 {
    font-size: 3rem;
  }

  .details h3 {
    font-size: 2rem;
  }

  .coin-det h3 {
    font-size: 1.5rem;
  }

  .coin-det p {
    font-size: 1.5rem;
  }
}
